@font-face {
  font-family: "Right-Grotesk-Compact-Regular";
  src: local("Right-Grotesk-Compact-Regular"),
    url("./fonts/Right_Grotesk/PPRightGrotesk-CompactRegular.ttf")
      format(truetype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overscroll-behavior: none;
}

main {
  margin-top: 20vh;
}

#root {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  color: #242424;
  background-color: #fafafa;
  min-height: 100vh;
  min-width: 100%;
  font-family: "Right-Grotesk-Compact-Regular";
}

a {
  font-weight: 500;
  color: #262520;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  z-index: 1000;
}

.textSize1 {
  font-size: 1.6rem;
}

.webNameSmall {
  display: none;
}

.linkSection {
  display: flex;
}

.linkSection h3 {
  margin-right: 5px;
}

.featuredGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featuredImageContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.featuredImage {
  width: 100%;
  height: fit-content;
}

.imgOnEdge {
  margin-left: -60px;
}

.projecGallery {
  position: absolute;
  overflow-x: auto;
  height: 20%;
  width: 100vh;
}

.slider_inner {
  display: flex;
  height: 20%;
}

.projectImage {
  height: 73vh;
  margin: 0px 30px 0px 0px;
}

.grid_2_1_2 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-bottom: 150px;
  gap: 30px;
}

.grid_1_2_2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin-bottom: 150px;
  gap: 30px;
}

.grid_2_2_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin-bottom: 150px;
  gap: 30px;
}

.grid_3_2 {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-bottom: 150px;
  height: auto;
  gap: 30px;
}

.grid_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 150px;
}

.grid_2_1_1_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  margin-bottom: 150px;
  gap: 30px;
}

.grid_1_1_2_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  margin-bottom: 150px;
  gap: 30px;
}

.emptyImg{
  display: block;
}

@media (max-width: 768px) {
  .webNameBig {
    display: none;
  }
  .webNameSmall {
    display: block;
  }
  .textSize1 {
    font-size: 1rem;
  }
  .imgOnEdge {
    margin-left: none;
    margin-bottom: 50px;
  }
  .mobileGrid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  #root {
    padding: 10px;
  }
  .featuredImageContainer {
    margin: 0px 15px 0px 15px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
  }
  .featuredImage {
    width: 100%;
    height: auto;
  }
  .imgOnEdge {
    margin-left: -40px;
  }
  main {
    margin-top: 15vh;
  }
  .projectImage {
    width: 100%;
    height: auto;
    margin: 0px 30px 0px 0px;
  }
  .emptyImg{
    display: none;
  }
}
