@font-face {
  font-family: "Right-Grotesk-Compact-Regular";
  src: local("Right-Grotesk-Compact-Regular"),
    url("./fonts/Right_Grotesk/PPRightGrotesk-CompactRegular.ttf")
      format(truetype);
}

body {
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  color: #242424;
  background-color: #fafafa;
  min-height: 100vh;
  min-width: 100%;
  font-family: "Right-Grotesk-Compact-Regular";
}

a {
  font-weight: 500;
  color: #262520;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: 1000;
}

.webNameSmall {
  display: none;
}

.linkSection {
  display: flex;
}

.linkSection h3 {
  margin-right: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.textSize1 {
  font-size: 1.6rem;
}

.featuredGallery_2_1_2 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-bottom: 150px;
}

.featuredGallery_1_2_2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin-bottom: 150px;
}

.featuredGallery_2_2_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin-bottom: 150px;
}

.featuredGallery_3_2 {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-bottom: 150px;
  height: auto;
}

.featuredGallery_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 150px;
}

.featuredGallery_2_1_1_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  margin-bottom: 150px;
}

.featuredGallery_1_1_2_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  margin-bottom: 150px;
}

.featuredImageContainer {
  margin: 15px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.featuredProjectImage {
  width: 100%;
  height: fit-content;
}

.imgOnEdge {
  margin-left: -60px;
}

.emptyImage {
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.projectGallery {
  display: flex;
}

@media (max-width: 768px) {
  .webNameBig {
    display: none;
  }
  .webNameSmall {
    display: block;
  }
  .textSize1 {
    font-size: 1rem;
  }
  .imgOnEdge {
    margin-left: none;
    margin-bottom: 50px;
  }
  .featuredGalleryMobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  #root {
    padding: 10px;
  }
  .projectImage {
    width: 100%;
    height: auto;
  }
  .imgOnEdge {
    margin-left: -120px;
  }
  main {
    margin-top: 80px;
  }
}
