@font-face {
  font-family: "ABCMonumentGrotesk-Regular-Trial";
  src: local("ABCMonumentGrotesk-Regular-Trial"),
    url("./fonts/dinamo/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.woff")
      format(truetype);
}

@font-face {
  font-family: "ABCMonumentGrotesk-Medium";
  src: local("ABCMonumentGrotesk-Medium"),
    url("./fonts/dinamo/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-Medium-Trial.woff")
      format(truetype);
}

@font-face {
  font-family: "ABCMonumentGrotesk-Light-Trial";
  src: local("ABCMonumentGrotesk-Light-Trial"),
    url("./fonts/dinamo/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-Light-Trial.woff")
      format(truetype);
}

@font-face {
  font-family: "ABCGintoNormal-Regular-Trial";
  src: local("ABCGintoNormal-Regular-Trial"),
    url("./fonts/dinamo/ABC Ginto/ABC Ginto Normal/ABCGintoNormal-Regular-Trial.woff")
      format(truetype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fafafa;
}

#root {
  margin: 0 auto;
  text-align: center;
  color: #242424;
  min-width: 100%;
  font-family: "ABCMonumentGrotesk-Light-Trial";
}

.mnaaBold {
  font-family: "ABCMonumentGrotesk-Regular-Trial";
}

a {
  font-weight: 500;
  color: #262520;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
  color: #242424;
}

.active {
  color: #242424;
  text-decoration: underline;
}

.inactive {
  color: #bebebe;
  text-decoration: none;
}

.projectName {
  transition: top 0.3s ease;
}

.webTitle{
  text-decoration: none;
}

@media (max-width: 768px) {
  .textSize1 {
    font-size: 1rem;
  }
  .imgOnEdge {
    margin-left: none;
    margin-bottom: 50px;
  }
  .mobileGrid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .featuredImageContainer {
    margin: 0px 15px 0px 15px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
  }
  .featuredImage {
    width: 100%;
    height: auto;
  }
  .imgOnEdge {
    margin-left: -40px;
  }
  main {
    margin-top: 15vh;
  }
  .projectImage {
    width: 100%;
    height: auto;
    margin: 0px 30px 0px 0px;
  }
  .emptyImg {
    display: none;
  }
}
